---
---

//Colour Palette
$black: #2e2e2e
$almostwhite: #fafafa
$lightorange: #ff8b8b
$lightpurple: #5631ff8f
$green: #94e49c
$midgray: #b6b6b6
$lightgray: #d0d0d0
$yellow: #fff468
$blue: #1e44ff
$slightlymorepurpleblue: #2943f7


$textcolor: $black

$h1color: $lightorange
$h2color: $black

//Screen size for responsiveness
$small-screen: 320px
$mid-screen: 768px
$large-screen: 1024px

@import '1-tools/-tools-dir'
@import '2-base/-base-dir'
@import '3-sections/-sections-dir'
