ul,
ol {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 0.67rem;
}

.call-and-response ul > li:nth-of-type(2n-1) {
  font-weight: bold;
  font-size: 1.3195em;
  color: $midgray;
  line-height: $sm-line-height;
}

.call-and-response ul > li:nth-of-type(2n) {
  margin-bottom: 2.01rem;
}

#logo-splash {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo-splash img {
  max-width: 55%;
  vertical-align: middle;
}
